/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --basic-gray: #EEEEEE;
    --form-gray: #F2F2F2;
    --basic-braun: #766357;
    --basic-black: #000000;
    --text-special: #333333;
    --form-hover: #604E43;
    --form-active: #503E33;
    --search-hover: #669EC0;
    --search-active: #5496BD;
    --form-hover: #EBEBEB;
    --form-focus: #E5E5E5;
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--basic-white) no-repeat;
    background-position: top center;
    color: var(--basic-black);
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

ul {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Navigation */

.header__menu {
    font-size: 14px;
    line-height: 26px;
}

.header__list {
    list-style: none;
}

.header__link {
    color: var(--basic-black);
}

.header__link:hover {
    color: var(--basic-blue)
}

.header__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.header__link--active {
    color: var(--basic-braun)
}

/* Promo */

.promo {
    background: url(../img/background\ photo.jpg) no-repeat center;
    text-align: center;
    height: 509px;
    padding-top: 76px;
    box-sizing: border-box;
}

.promo .promo__title {
    display: none;
}

/* Reasons */

.why__title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.why__row {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: var(--text-special);
}

.why__subrow {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--text-special);
}

.why__subtitle {
    font-size: 21px;
    line-height: 21px;
}

.why__group {
    background: var(--basic-blue);
}

.gray {
    background: var(--basic-gray);
}

/* Offer */

.offer__title {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
}

.offer__row {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-special);
    text-align: center;
}

/* Search modal window*/

.search {
    width: 586px;
    height: 485px;
    background-color: var(--basic-white);
}

.search__title {
    background: var(--basic-braun);
    height: 86px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.search__title:hover {
    background: var(--form-hover)
}

.search__title:active {
    background: var(--form-active);
}

.search__title:active .search__link {
    opacity: 0.3;
}

.search__link {
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.search__form {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search__submit {
    font: inherit;
    font-size: 21px;
    line-height: inherit;
    text-transform: inherit;
    width: 458px;
    height: 58px;
    background: var(--basic-blue);
    margin: 0;
    padding: 16px;
    border: none;
    box-sizing: border-box;
    color: var(--basic-white);
}

.search__submit:hover {
    background: var(--search-hover);
}

.search__submit:active {
    background: var(--search-active);
}

.search__submit:active span {
    opacity: 0.3;
}

.search__button {
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
}

.search__input {
    width: 346px;
    height: 38px;
    background: var(--form-gray);
    font-size: 14px;
    line-height: 26px;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
}

.search__input:hover {
    background: var(--form-hover);
}

.search__input:focus {
    background: var(--basic-white);
    border: 2px solid var(--form-focus);
}

.short {
    width: 114px;
}
 
/* Footer */

.footer__tag,
.footer__phone--link {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
 
.footer__image {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.footer__title {
    visibility: hidden;
}

