/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-blue: #81B3D2;
    --social-hover: #669EC0;
    --social-active: #5496BD;
    --basic-gray: #EEEEEE;
    --form-gray: #F2F2F2;
    --basic-braun: #766357;
    --basic-black: #000000;
    --text-special: #333333;
    --form-link-hover: #604E43;
    --form-active: #503E33;
    --search-hover: #669EC0;
    --search-active: #5496BD;
    --form-hover: #EBEBEB;
    --form-focus: #E5E5E5;
    --page-background: #888888;
    --text-form-hover: rgba(255, 255, 255, 0.3);
    --opacity-logo: #BDBBBC;
}

/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--form-gray);
    background-position: top center;
    color: var(--basic-black);

    min-height: 100%;
    
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

.container {
    width: 1200px;
    margin: 0 auto;
}

.header, .main, .footer {
    background: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    /* overflow: hidden; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Grid */

.page {
    height: 100%;
}

/* Navigation */

.header {
    display: grid;
}

.header__logo {
    justify-self: center;
    position: relative;
    z-index: 10;
}

.header__menu {
    font-size: 14px;
    line-height: 26px;
    margin-top: -55px;
}

.header__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1054px;
    margin: 0 auto;
    padding: 0;
}

.header__list li:nth-child(4n+3),
.header__list li:nth-child(4n+4) {
    text-align: right;
}

.header__item {
    width: 25%;
}

.header__link {
    color: var(--basic-black);
}

.header__link:hover {
    color: var(--basic-blue)
}

.header__link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.header__link--active {
    color: var(--basic-braun);
    cursor: default;
}

/* Promo */

.promo {
    background: var(--page-background) url(../img/background-photo.jpg) no-repeat center top;
    text-align: center;
    width: 1200px;
    min-height: 509px;
    padding: 77px 0px 81px 0px;
    box-sizing: border-box;
    margin-top: -14px;
    position: relative;
}

.promo::before {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    background: url(../img/mask.svg) no-repeat;
    background-position: 100px 100px;
}

/* Reasons */

.why__title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    margin: 0px 0px 25px 0px;
    padding: 0px 10px;

}


.why__title--space {
    margin: 42px 0px 49px 0px;
}

.why__row {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: var(--text-special);
    margin: 0px 0px 23px 0px;
    padding: 0px 10px;
}

.why__row:last-child {
    margin: 0;
}

.white {
    color: var(--basic-white);
}

.why__row--space {
    margin-bottom: 51px;
}

.why__list {
    list-style: none;
    margin: 0;
    padding: 0;
 
}

.why__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;

}

.why__item {
    padding: 0;
    margin: 0;

}

.why__item-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.why__item-flex-gray {
    background: var(--basic-gray) !important
}

.why__subitem {
    width: 400px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 55px 0 82px 0;
}

.why__subgroup .home {
    margin: 0 0 28px 0;
}

.why__subgroup .burger {
    margin: 0 0 29px 0;
}

.why__subgroup .gift {
    margin: 0 0 28px 0;
}

.why__img {
    width: 800px;
    height: auto;
    margin: 0;
    padding: 0;
}

.why__subtitle {
    font-size: 21px;
    line-height: 21px;
    margin: 0 0 25px 0;
    padding: 0;
}

.why__subrow {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--text-special);
    margin: 0;
    padding: 0;
}

.why__group {
    background: var(--basic-blue);
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px 0px 54px 0px;
}

.why__subgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gray {
    background: var(--basic-gray);
}

/* Offer */

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.offer__title {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin-top: 58px;
    padding: 0;
}

.offer__row {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-special);
    text-align: center;
    margin: 0px 0px 139px 0px;
}

/* Search modal window*/

.search {
    width: 568px;
    background-color: var(--basic-white);
    box-sizing: border-box;
    position: absolute;
    top: 208px;
}

.search__title {
    background: var(--basic-braun);
    height: 100%;
    text-align: center;
    line-height: 86px;
    box-sizing: border-box;
    color: var(--basic-white);
    margin: 0;
}

.search__link {
    display: block;
    width: 568px;
    height: 86px;
    box-sizing: border-box;
}

.search__link:hover .search__title {
    background: var(--form-link-hover);
}

.search__link:active .search__title {
    background: var(--form-active);
    color: var(--text-form-hover);
}


.search__form {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 568px;
    box-sizing: border-box;
    padding: 56px 55px 55px 55px;
    display: flex;
    flex-direction: column;
}

.search__row {
    margin: 0px 0px 30px 0px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search__row:nth-child(3) {
    margin: 0px 0px 54px 0px;
}

.search__label--inline {
    margin-right: 40px;
}

.row__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.search__submit {
    font: inherit;
    font-size: 21px;
    line-height: inherit;
    text-transform: inherit;
    width: 458px;
    height: 58px;
    background: var(--basic-blue);
    padding: 16px;
    border: none;
    box-sizing: border-box;
    color: var(--basic-white);
    cursor: pointer;
}

.search__submit:hover {
    background: var(--search-hover);
}

.search__submit:active {
    background: var(--search-active);
}

.search__submit:active span {
    opacity: 0.3;
}

.search__button {
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background: var(--form-gray);
}

.search__input {
    width: 346px;
    height: 38px;
    background: var(--form-gray);
    font-size: 14px;
    line-height: 26px;
    border: none;
    padding: 10px;
    font: inherit;
    outline: none;
    box-sizing: border-box;
}

.search__row .calendar {
    position: absolute;
    top: 6px;
    right: 9px;
}

.search__row .plus {
    position: absolute;
    top: 14px;
    right: 13px;
}

.search__row .minus {
    position: absolute;
    top: 18px;
    right: 85px;
}


.search__row .calendar:hover path,
.search__row .plus:hover path, 
.search__row .minus:hover rect {
    fill: var(--basic-black);
}

.search__row .calendar:active path,
.search__row .plus:active path, 
.search__row .minus:active rect {
    fill: var(--basic-blue);
}

.search__input:hover {
    background: var(--form-hover);
}

.search__input:focus:not(.search__input--short) {
    background: var(--basic-white);
    border: 2px solid var(--form-focus);
}

.search__input--short {
    width: 38px;
    font: inherit;
    text-align: center;
}

.map {
    width: 1200px;
    margin-bottom: -120px;
    box-sizing: border-box;
    padding: 0;
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 7.5px 0 7.5px 0;
    z-index: 1;
}

/* Footer SOCIAL */

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    flex-wrap: wrap;
}

.footer__item {
    margin-right: 6px;
    padding: 0;
}

.footer__item:nth-child(3n+3) {
    margin-right: 0;
}

.footer__item:nth-child(n+4) {
    margin-top: 6px;
}

.footer__link {
    width: 46px;
    height: 48px;
    background: var(--basic-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link:hover {
    background: var(--search-hover);
}

.footer__link:active {
    background: var(--social-active);
}

.footer__link:active svg {
    opacity: 0.3;
}

.footer__tag, .footer__phone--link {
    font-size: 21px;
    color: var(--basic-black);
    text-align: center;
}

/* Footer LOGO */

.footer__image {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 196px;
}

.footer__image span {
    display: block;
    line-height: 41px;
}

.footer__image img {
    align-self: center;
}

.footer__image a {
    width: 115px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__image:hover path {
    fill: var(--basic-blue);
}

.footer__image:active path {
    fill: var(--opacity-logo);
}


/* page two */

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend:not(:last-child) {
    margin-bottom: 24px;
}

.field__grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.main__filter {
    outline: 5px solid rgba(101, 211, 12, 0.7);
    outline-offset: -5px;
    background: url(../img/background_filter.jpg) no-repeat center top;
}

.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.main__list, .main__check {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__check {
    margin-bottom: 25px;
}